table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

.checkmark {
  border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;
}


.table-items {
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;

}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.center {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color : #e60909;
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: visible;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}



  